<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <title>BurgerMania</title>
</head>
<body>
 
    {{{body}}}

<script>
const {fetch} = window

document.addEventListener('click', e => {
    if (e.target.className === "devour") {
        console.log(e.target.id)
        fetch(`/burgers/${e.target.id}`, {
            headers: { "Content-Type": "application/json; charset=utf-8" },
            method: 'PUT'
        })
        .then(location.reload())
        .catch(e => console.log(e))
    }
})

</script>
</body>
</html>